.customLogin {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#customLogin2 {
    background-color: #23394A;
}

.custom-link {
    text-decoration: none;
}